<section class="choice">
  <div class="container">
    <h2 class="choice-title">Why Choose Product?</h2>
    <ul class="choice-list">
      <li class="choice-list-item">
        <div class="choice-icon-wrap green">
          <i class="fas fa-mouse-pointer"></i>
        </div>
        <h3 class="choice-subtitle">Special Business</h3>
        <p class="choice-text">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="choice-list-item">
        <div class="choice-icon-wrap blue">
          <i class="fa-brands fa-stumbleupon"></i>
        </div>
        <h3 class="choice-subtitle">Instant Result</h3>
        <p class="choice-text">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
      <li class="choice-list-item">
        <div class="choice-icon-wrap red">
          <i class="fas fa-heart"></i>
        </div>
        <h3 class="choice-subtitle">Fastest way to organize</h3>
        <p class="choice-text">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
    </ul>
  </div>
</section>
