<section class="choice">
  <div class="container">
    <h2 class="choice-title">Why Choose Product?</h2>
    <ul class="choice-list">
      <li class="choice-list-item">
        <div class="choice-icon-wrap green">
          <svg class="choice-icon" width="20" height="20" aria-hidden="true">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <h3 class="choice-subtitle">Special Business</h3>
        <p class="choice-text">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>

      <li class="choice-list-item">
        <div class="choice-icon-wrap blue">
          <svg class="choice-icon" width="20" height="20" aria-hidden="true">
            <use href="./img/icons.svg#icon-chain"></use>
          </svg>
        </div>
        <h3 class="choice-subtitle">Instant Result</h3>
        <p class="choice-text">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>

      <li class="choice-list-item">
        <div class="choice-icon-wrap red">
          <svg class="choice-icon" width="20" height="20" aria-hidden="true">
            <use href="./img/icons.svg#icon-hearth"></use>
          </svg>
        </div>
        <h3 class="choice-subtitle">Fastest way to organize</h3>
        <p class="choice-text">
          Product helps you see how many more days you need to work to reach
          your financial goal for the month and year.
        </p>
      </li>
    </ul>
  </div>
</section>
