<section class="clients">
  <div class="container">
    <h2 class="clients-title">Our Clients</h2>
    <ul class="clients-list">
      <li class="clients-list-item">
        <img src="./img/Google.svg" class="clients-icons" alt="Google-logo" />
      </li>
      <li class="clients-list-item">
        <img src="./img/Airbnb.svg" class="clients-icons" alt="Airbnb-logo" />
      </li>
      <li class="clients-list-item">
        <img
          src="./img/Microsoft.svg"
          class="clients-icons"
          alt="Microsoft-logo"
        />
      </li>
      <li class="clients-list-item">
        <img src="./img/FedEx.svg" class="clients-icons" alt="FedEx-logo" />
      </li>
    </ul>
  </div>
</section>
