<section class="communications">
  <div class="container">
    <div class="communications-content">
      <div class="communications-text-block">
        <h1 class="communications-title">
          Great Business <br />
          made with Product.
        </h1>

        <p class="communications-text">
          Build better customer relationships easily messaging that provides a
          more personal experience for you and your customers.
        </p>

        <div class="communications-actions">
          <form class="input-btn" id="communications-form">
            <input
              class="communications-input"
              type="email"
              placeholder="Enter your email address"
              required
            />
            <button type="submit" class="communications-btn">Join Now</button>
          </form>

          <div class="communications-group">
            <img src="./img/group-people.webp" alt="Group people" />
            <p class="communications-text">
              Join over <span class="span-count-text">4,000+</span> other
            </p>
          </div>
        </div>
      </div>

      <picture class="communications-picture">
        <source
          srcset="
            ./img/communications-desktop-1x.webp 1x,
            ./img/communications-desktop-2x.webp 2x
          "
          media="(min-width: 1150px)"
          type="image/webp"
        />
        <source
          srcset="
            ./img/communications-tablet-1x.webp 1x,
            ./img/communications-tablet-2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <img
          class="communications-img"
          src="./img/communications-mobile-2x.webp"
          alt="communications"
          width="540"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
