<section class="effects">
  <div class="container">
    <h2 class="effects-title">
      Product is being used with great effects alongside:
    </h2>
    <div class="effects-content">
      <picture>
        <!-- Десктоп от 1150px -->
        <source
          srcset="
            ./img/effects-desktop-1x.webp 1x,
            ./img/effects-desktop-2x.webp 2x
          "
          media="(min-width: 1150px)"
          type="image/webp"
        />
        <!-- Планшет от 768px -->
        <source
          srcset="
            ./img/effects-tablet-1x.webp 1x,
            ./img/effects-tablet-2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <!-- Мобилка до 767px -->
        <source
          srcset="./img/effects-mobile-1x.webp, ./img/effects-mobile-2x.webp"
          media="(max-width: 767px)"
          type="image/webp"
        />
        <img
          class="effects-img"
          src="./img/effects-desktop-2x.webp"
          alt="effects"
          width="528"
          loading="lazy"
        />
      </picture>
      <ul class="effects-list">
        <li class="effects-list-item">
          <div class="effects-header">
            <div class="effects-icon">
              <img src="./img/01.svg" alt="Entrepreneur icon" />
            </div>
            <h3 class="effects-subtitle">Entrepreneur</h3>
          </div>
          <p class="effects-text">
            Product is a great way to help medium and small enterprise owners
            achieve their goals
          </p>
        </li>

        <li class="effects-list-item">
          <div class="effects-header">
            <div class="effects-icon">
              <img src="./img/04.svg" alt="Accountants icon" />
            </div>
            <h3 class="effects-subtitle">Accountants</h3>
          </div>
          <p class="effects-text">
            Whether you are working on contract with clients, or on other key
            accounting documents, Product is for you
          </p>
        </li>

        <li class="effects-list-item">
          <div class="effects-header">
            <div class="effects-icon">
              <img src="./img/05.svg" alt="Universities icon" />
            </div>
            <h3 class="effects-subtitle">Universities</h3>
          </div>
          <p class="effects-text">
            Organize university projects and have documents easily graded online
            with Product
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
