<section class="feature">
  <div class="container">
    <h2 class="feature-title">Product was Built Specifically for You</h2>
    <ul class="feature-list">
      <!-- 1. Стрелка -->
      <li class="feature-list-item">
        <div class="feature-icon-wrap green">
          <i class="fas fa-mouse-pointer"></i>
        </div>
        <h3 class="feature-subtitle">First click tests</h3>
        <p class="feature-text">While most people enjoy casino gambling</p>
      </li>

      <!-- 2. Цепочка -->
      <li class="feature-list-item">
        <div class="feature-icon-wrap blue">
          <i class="fa-brands fa-stumbleupon"></i>
        </div>
        <h3 class="feature-subtitle">Design surveys</h3>
        <p class="feature-text">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>

      <!-- 3. Сердце -->
      <li class="feature-list-item">
        <div class="feature-icon-wrap purple">
          <i class="fas fa-heart"></i>
        </div>
        <h3 class="feature-subtitle">Preference</h3>
        <p class="feature-text">The Myspace page defines the individual.</p>
      </li>

      <!-- 4. Часы -->
      <li class="feature-list-item">
        <div class="feature-icon-wrap red">
          <i class="fas fa-hourglass-half"></i>
        </div>
        <h3 class="feature-subtitle">Five second tests</h3>
        <p class="feature-text">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button type="button" class="feature-btn" data-modal-open="signup">
      SIGN UP NOW
    </button>
  </div>
</section>
