<section class="feature">
  <div class="container">
    <h2 class="feature-title">Product was Built Specifically for You</h2>
    <ul class="feature-list">
      <li class="feature-list-item">
        <div class="feature-icon-wrap green">
          <svg class="feature-icon" width="20" height="20" aria-hidden="true">
            <use href="./img/icons.svg#icon-arrow"></use>
          </svg>
        </div>
        <h3 class="feature-subtitle">First click tests</h3>
        <p class="feature-text">While most people enjoy casino gambling</p>
      </li>

      <li class="feature-list-item">
        <div class="feature-icon-wrap blue">
          <svg class="feature-icon" width="20" height="20" aria-hidden="true">
            <use href="./img/icons.svg#icon-chain"></use>
          </svg>
        </div>
        <h3 class="feature-subtitle">Design surveys</h3>
        <p class="feature-text">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>

      <li class="feature-list-item">
        <div class="feature-icon-wrap purple">
          <svg class="feature-icon" width="20" height="20" aria-hidden="true">
            <use href="./img/icons.svg#icon-hearth"></use>
          </svg>
        </div>
        <h3 class="feature-subtitle">Preference</h3>
        <p class="feature-text">The Myspace page defines the individual.</p>
      </li>

      <li class="feature-list-item">
        <div class="feature-icon-wrap red">
          <svg class="feature-icon" width="20" height="20" aria-hidden="true">
            <use href="./img/icons.svg#icon-clock"></use>
          </svg>
        </div>
        <h3 class="feature-subtitle">Five second tests</h3>
        <p class="feature-text">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button type="button" class="feature-btn" data-modal-open="signup">
      SIGN UP NOW
    </button>
  </div>
</section>
