<section class="feedback">
  <div class="container">
    <h2 class="feedback-title">What Clients Say</h2>
    <p class="feedback-text">
      Problems trying to resolve the conflict between the two major realms of
      Classical physics: Newtonian mechanics
    </p>

    <ul class="feedback-list">
      <li class="feedback-list-item">
        <div
          class="feedback-rating"
          role="img"
          aria-label="Оценка 4 из 5 звёзд"
        >
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-empty"></use>
          </svg>
        </div>

        <p class="feedback-list-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>

        <div class="feedback-author">
          <img
            src="./img/feed1.webp"
            alt="Wahid Ari, Designer"
            width="80"
            height="80"
            loading="lazy"
          />
          <div class="feedback-author-info">
            <h3 class="feedback-subtitle">Wahid Ari</h3>
            <p class="feedback-item-text">Designer</p>
          </div>
        </div>
      </li>

      <li class="feedback-list-item">
        <div
          class="feedback-rating"
          role="img"
          aria-label="Оценка 4 из 5 звёзд"
        >
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-empty"></use>
          </svg>
        </div>

        <p class="feedback-list-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>

        <div class="feedback-author">
          <img
            src="./img/feed2.webp"
            alt="Wahid Ari, Designer"
            width="80"
            height="80"
            loading="lazy"
          />
          <div class="feedback-author-info">
            <h3 class="feedback-subtitle">Wahid Ari</h3>
            <p class="feedback-item-text">Designer</p>
          </div>
        </div>
      </li>

      <li class="feedback-list-item">
        <div
          class="feedback-rating"
          role="img"
          aria-label="Оценка 4 из 5 звёзд"
        >
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-full"></use>
          </svg>
          <svg class="star" aria-hidden="true">
            <use href="./img/icons.svg#icon-star-empty"></use>
          </svg>
        </div>

        <p class="feedback-list-text">
          Product helps you see how many more days you need to work to reach
          your financial goal.
        </p>

        <div class="feedback-author">
          <img
            src="./img/feed3.webp"
            alt="Wahid Ari, Designer"
            width="80"
            height="80"
            loading="lazy"
          />
          <div class="feedback-author-info">
            <h3 class="feedback-subtitle">Wahid Ari</h3>
            <p class="feedback-item-text">Designer</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
