<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo-social">
        <a href="./index.html" class="footer-logo">
          <img src="./img/logo.webp" alt="logo" />Product
        </a>
        <ul class="footer-social-list" aria-label="Social media">
          <li>
            <a href="#" class="footer-social-link" aria-label="Instagram">
              <svg width="16" height="16" aria-hidden="true">
                <use href="./img/icons.svg#icon-instagram-2"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="footer-social-link" aria-label="Twitter">
              <svg width="16" height="16" aria-hidden="true">
                <use href="./img/icons.svg#icon-twitter-1"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="footer-social-link" aria-label="Facebook">
              <svg width="16" height="16" aria-hidden="true">
                <use href="./img/icons.svg#icon-facebook-1"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#" class="footer-social-link" aria-label="LinkedIn">
              <svg width="16" height="16" aria-hidden="true">
                <use href="./img/icons.svg#icon-linkedin-1"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-resource-item">
        <p class="footer-resource-text">Resource</p>
        <ul class="footer-resource-list">
          <li class="footer-list-item">
            <a href="" class="footer-resource-link">About Us</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-resource-link">Blog</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-resource-link">Contact</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-resource-link">FAQ</a>
          </li>
        </ul>
      </div>

      <div class="footer-legal-item">
        <p class="footer-legal-text">Legal Stuff</p>
        <ul class="footer-legal-list">
          <li class="footer-list-item">
            <a href="" class="footer-legal-link">Disclaimer</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-legal-link">Financing</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-legal-link">Privacy Policy</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-legal-link">Terms of Service</a>
          </li>
        </ul>
      </div>

      <div class="footer-energy-deal">
        <p class="footer-deal-text">
          knowing you're always on the best energy deal.
        </p>

        <div class="footer-input-wrapper">
          <svg
            class="footer-input-icons"
            width="18"
            height="28"
            aria-hidden="true"
          >
            <use href="./img/icons.svg#icon-mobile-screen"></use>
          </svg>
          <input
            type="tel"
            class="footer-input"
            id="footer-phone"
            placeholder="Enter your phone number"
            required
          />
        </div>

        <div class="footer-btn-wrapper">
          <button type="button" class="footer-btn" id="footer-submit-btn">
            Get a call back
          </button>
        </div>
      </div>
    </div>

    <p class="footer-copyright">
      Made With Love By Figmaland All Right Reserved
    </p>
  </div>
</footer>
