<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo-social">
        <a href="./index.html" class="footer-logo">
          <img src="./img/logo.webp" alt="logo" />Product</a
        >
        <ul class="footer-list-icons">
          <li class="footer-item-icons">
            <a href="#" class="footer-social-link">
              <svg class="footer-icons" width="24" height="24">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-icons">
            <a href="#" class="footer-social-link">
              <svg class="footer-icons" width="24" height="24">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-item-icons">
            <a href="#" class="footer-social-link">
              <svg class="footer-icons" width="24" height="24">
                <use href="./img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer-resource-item">
        <p class="footer-resource-text">Resource</p>
        <ul class="footer-resource-list">
          <li class="footer-list-item">
            <a href="" class="footer-resource-link">About Us</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-resource-link">Blog</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-resource-link">Contact</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-resource-link">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="footer-legal-item">
        <p class="footer-legal-text">Legal Stuff</p>
        <ul class="footer-legal-list">
          <li class="footer-list-item">
            <a href="" class="footer-legal-link">Disclaimer</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-legal-link">Financing</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-legal-link">Privacy Policy</a>
          </li>
          <li class="footer-list-item">
            <a href="" class="footer-legal-link">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="footer-energy-deal">
        <p class="footer-deal-text">
          knowing you're always on the best energy deal.
        </p>
        <div class="footer-input-wrapper">
          <svg class="footer-input-icons" width="18" height="28">
            <use href="./img/icons.svg#icon-mobile-screen"></use>
          </svg>
          <input
            type="tel"
            class="footer-input"
            id="footer-phone"
            placeholder="Enter your phone number"
            required
          />
        </div>
        <button type="button" class="footer-btn" id="footer-submit-btn">
          Get a call back
        </button>
      </div>
    </div>

    <p class="footer-copyright">
      Made With Love By Figmaland All Right Reserved
    </p>
  </div>
</footer>
