<section class="form">
  <div class="container">
    <h2 class="form-title">Contact Us</h2>
    <p class="form-text">
      Need more detailed information? Get in touch with us.
    </p>

    <ul class="form-list-icons">
      <li class="form-item-icons">
        <a href="#" class="form-social-link" target="_blank" rel="noopener">
          <svg class="form-icons" width="24" height="24">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="form-item-icons">
        <a href="#" class="form-social-link" target="_blank" rel="noopener">
          <svg class="form-icons" width="24" height="24">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="form-item-icons">
        <a href="#" class="form-social-link" target="_blank" rel="noopener">
          <svg class="form-icons" width="24" height="24">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>

    <div class="form-map-wrapper">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1dYOUR_ZOOM!2dLONGITUDE!3dLATITUDE!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zВАШ_АДРЕС!5e0!3m2!1sru!2sua!4vTIMESTAMP"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      >
      </iframe>
    </div>

    <div class="form-input-box">
      <h3 class="form-subtitle">Send a message</h3>

      <div class="form-message" id="contact-page-message"></div>

      <form id="contact-page-form">
        <ul class="form-input-list">
          <li class="input-item">
            <input
              class="form-input"
              type="text"
              name="name"
              id="contact-name"
              placeholder="Your Name"
              required
            />
          </li>
          <li class="input-item">
            <input
              class="form-input"
              type="email"
              name="email"
              id="contact-email"
              placeholder="Your Email"
              required
            />
          </li>
          <li class="input-item">
            <textarea
              class="form-textarea"
              name="message"
              id="contact-message"
              placeholder="Your Message"
              rows="6"
              required
            ></textarea>
          </li>
          <li class="input-item btn-input">
            <button type="submit" class="form-btn">Send</button>
          </li>
        </ul>
      </form>
    </div>
  </div>
</section>
