<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">Work at the speed of thought</h1>
      <p class="hero-text">
        Tools, tutorials, design and innovation experts, all in one place! The
        most intuitive way to imagine your next user experience.
      </p>
      <div class="hero-btn">
        <button
          type="button"
          class="hero-btn-getstart"
          data-modal-open="signup"
        >
          Get started
        </button>
        <button type="button" class="hero-btn-watch" data-modal-open="video">
          <svg class="triangle-btn" width="28" height="32" aria-hidden="true">
            <use href="./img/icons.svg#icon-triangle"></use>
          </svg>
          Watch the Video
        </button>
      </div>
    </div>
    <div class="hero-image">
      <picture>
        <!-- Десктоп от 1150px  -->
        <source
          media="(min-width: 1150px)"
          srcset="./img/hero-desktop-1x.webp 1x, ./img/hero-desktop-2x.webp 2x"
          type="image/webp"
        />

        <!-- Планшет 768–1149px -->
        <source
          media="(min-width: 768px)"
          srcset="./img/hero-tablet-1x.webp 1x, ./img/hero-tablet-2x.webp 2x"
          type="image/webp"
        />

        <!-- Мобилка до 767px  -->
        <source
          media="(max-width: 767px)"
          srcset="./img/hero-mobile-1x.webp 1x, ./img/hero-mobile-2x.webp 2x"
          type="image/webp"
        />

        <img
          class="hero-img"
          src="./img/hero-mobile-1x.webp"
          alt=""
          width="610"
          height="555"
          fetchpriority="high"
          loading="eager"
          decoding="async"
        />
      </picture>
    </div>
  </div>
</section>
