<section class="joinus">
  <div class="container">
    <h2 class="joinus-title">
      Join thousand of other who have already received offers
    </h2>
    <div class="joinus-content">
      <div class="joinus-business">
        <img src="./img/red-icons.webp" alt="red-icons" />
        <h3 class="joinus-subtitle">Business</h3>
        <p class="joinus-text">
          Cash Flow<br />
          Asset Backed<br />
          Receivables Finance
        </p>
        <p class="joinus-subtitle-text">Find the best business product</p>
      </div>
      <div class="joinus-enterprise">
        <img src="./img/blue-icons.webp" alt="blue-icons" />
        <h3 class="joinus-subtitle">Enterprise</h3>
        <p class="joinus-text">
          Site Acquisition<br />
          Bridge<br />
          Development Financing
        </p>
        <p class="joinus-subtitle-text">Find the best business product</p>
      </div>
    </div>
  </div>
</section>
