<section class="management">
  <div class="container">
    <div class="management-content">
      <h3 class="management-subtitle">Effortless Validation for</h3>
      <h2 class="management-title">Management</h2>
      <p class="management-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="management-list">
        <li class="management-list-item">
          <h3 class="management-subtitle">Accessory makers</h3>
          <p class="management-text">
            While most people enjoy casino gambling, sports betting, lottery and
            bingo playing for the fun
          </p>
        </li>
        <li class="management-list-item">
          <h3 class="management-subtitle">Alterationists</h3>
          <p class="management-text">
            If you are looking for a new way to promote your business that won’t
            cost you more money,
          </p>
        </li>
      </ul>
    </div>
    <div class="management-image">
      <picture>
        <!-- Десктоп от 1150px -->
        <source
          srcset="
            ./img/management-desktop-1x.webp 1x,
            ./img/management-desktop-2x.webp 2x
          "
          media="(min-width: 1150px)"
          type="image/webp"
        />
        <!-- Планшет от 768px -->
        <source
          srcset="
            ./img/management-tablet-1x.webp 1x,
            ./img/management-tablet-2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <!-- Мобилка до 767px -->
        <source
          srcset="
            ./img/management-mobile-1x.webp 1x,
            ./img/management-mobile-2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <img
          class="management-img"
          src="./img/management-desktop-2x.webp"
          alt="management"
          width="540"
          loading="lazy"
        />
      </picture>
    </div>
  </div>
</section>
