<div class="backdrop video-backdrop" data-modal="video">
  <div class="video-modal">
    <button
      type="button"
      class="modal-close video-close"
      aria-label="Закрыть видео"
      data-modal-close
    >
      <svg class="video-close-icon" width="18" height="18" aria-hidden="true">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="video-wrapper">
      <div class="video-placeholder" data-video-id="dQw4w9WgXcQ">
        <img
          src="https://img.youtube.com/vi/dQw4w9WgXcQ/maxresdefault.jpg"
          alt="Превью видео: Product Demo"
          loading="lazy"
        />
        <div class="play-button">
          <svg width="40" height="40" viewBox="0 0 24 24" fill="#fff">
            <path d="M8 5v14l11-7z" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
