<div class="backdrop video-backdrop" data-modal="video">
  <div class="video-modal">
    <button
      type="button"
      class="modal-close video-close"
      aria-label="Close video"
      data-modal-close
    >
      <svg class="video-close-icon" width="18" height="18" aria-hidden="true">
        <use href="./img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="video-wrapper">
      <iframe
        id="promo-video-iframe"
        src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?rel=0&modestbranding=1"
        title="Product Demo Video"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
