<section class="news">
  <div class="container">
    <h2 class="news-title">Contents Strategies</h2>
    <p class="news-text">
      We focus on ergonomics and meeting you where you work. It's only a
      keystroke away.
    </p>
    <ul class="news-list">
      <li class="news-list-item">
        <picture>
          <!-- Десктоп от 1150px -->
          <source
            srcset="
              ./img/news-desktop-1x.webp 1x,
              ./img/news-desktop-2x.webp 2x
            "
            media="(min-width: 1150px)"
            type="image/webp"
          />
          <!-- Планшет от 768px -->
          <source
            srcset="./img/news-tablet-1x.webp 1x, ./img/news-tablet-2x.webp 2x"
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- Мобилка до 767px -->
          <source
            srcset="./img/news-mobile-1x.webp 1x, ./img/news-mobile-2x.webp 2x"
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            class="news-img"
            src="./img/news-desktop-2x.webp"
            alt="news"
            width="350"
            loading="lazy"
          />
        </picture>
        <div class="news-list-content">
          <p class="news-subtitle-text">
            By <span class="span-text">Wahid Ari</span> | 03 March 2019
          </p>
          <a href="" class="news-link"
            >Increasing Prosperity With Positive Thinking</a
          >
        </div>
      </li>
      <li class="news-list-item">
        <picture>
          <!-- Десктоп от 1150px -->
          <source
            srcset="
              ./img/news-desktop1-1x.webp 1x,
              ./img/news-desktop1-2x.webp 2x
            "
            media="(min-width: 1150px)"
            type="image/webp"
          />
          <!-- Планшет от 768px -->
          <source
            srcset="
              ./img/news-tablet1-1x.webp 1x,
              ./img/news-tablet1-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- Мобилка до 767px -->
          <source
            srcset="
              ./img/news-mobile1-1x.webp 1x,
              ./img/news-mobile1-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            class="news-img"
            src="./img/news-desktop1-2x.webp"
            alt="news"
            width="350"
            loading="lazy"
          />
        </picture>
        <div class="news-list-content">
          <p class="news-subtitle-text">
            By <span class="span-text">Wahid Ari</span> | 03 March 2019
          </p>
          <a href="" class="news-link"
            >Motivation Is The First Step To Success</a
          >
        </div>
      </li>
      <li class="news-list-item">
        <picture>
          <!-- Десктоп от 1150px -->
          <source
            srcset="
              ./img/news-desktop2-1x.webp 1x,
              ./img/news-desktop2-2x.webp 2x
            "
            media="(min-width: 1150px)"
            type="image/webp"
          />
          <!-- Планшет от 768px -->
          <source
            srcset="
              ./img/news-tablet2-1x.webp 1x,
              ./img/news-tablet2-2x.webp 2x
            "
            media="(min-width: 768px)"
            type="image/webp"
          />
          <!-- Мобилка до 767px -->
          <source
            srcset="
              ./img/news-mobile2-1x.webp 1x,
              ./img/news-mobile2-2x.webp 2x
            "
            media="(max-width: 767px)"
            type="image/webp"
          />
          <img
            class="news-img"
            src="./img/news-desktop2-2x.webp"
            alt="news"
            width="350"
            loading="lazy"
          />
        </picture>
        <div class="news-list-content">
          <p class="news-subtitle-text">
            By <span class="span-text">Wahid Ari</span> | 03 March 2019
          </p>
          <a href="" class="news-link"
            >Success Steps For Your Personal Or Business</a
          >
        </div>
      </li>
    </ul>
  </div>
</section>
