<section class="pricing">
        <div class="container">
          <p class="pricing-subtitle-text">PRICING</p>
          <h2 class="pricing-title">Let’s get some real work done here.</h2>
          <p class="pricing-text">Prodict is your perfect solution for working. Get started now for free</p>
          <div class="pricing-lists">
<div class="pricing-list-content">
          
              <h3 class="pricing-list-subtitle">Free</h3>
              <p class="pricing-list-text">Brief price description</p>
              <ul class="pricing-list">
                <li class="pricing-list-item">
                  <p class="pricing-item-text first-item">0</p>
                </li>
                
                <li class="pricing-list-item">
                  <p class="pricing-item-text second-item">$</p>
                <p class="pricing-item-text third-item">Per / month</p>
                   </li>
                </ul>
             
              <ul class="price-list">
                        <li class="price-items">
                          <p class="price-item-text">Only 2 Operators</p>
                        </li>
                          <li class="price-items">
                            <p class="price-item-text">Notifications</p>
                          </li>
                          <li class="price-items">
                            <p class="price-item-text">Landing Pages</p>
                          </li>
              </ul>
                          <button type="button" class="pricing-btn" data-plan="Free">Order Now</button>
              </div>

          
            
                  <div class="pricing-list-content featured">
          
              <h3 class="pricing-list-subtitle">Standard</h3>
              <p class="pricing-list-text">Brief price description</p>
              <ul class="pricing-list">
                <li class="pricing-list-item">
                  <p class="pricing-item-text first-item">5</p></li>
                
                <li class="pricing-list-item">
                  <p class="pricing-item-text second-item">$</p>
                <p class="pricing-item-text third-item">Per / month</p>
                   </li>
                </ul>
             
              <ul class="price-list">
                        <li class="price-items">
                          <p class="price-item-text">5+ Operators</p>
                        </li>
                          <li class="price-items">
                            <p class="price-item-text">Notifications</p>
                          </li>
                          <li class="price-items">
                            <p class="price-item-text">Landing Pages</p>
                          </li>
                          </ul>
                          <button type="button" class="pricing-btn" data-plan="Standard">Order Now</button>
              </div>
          <div class="pricing-list-content">
          
              <h3 class="pricing-list-subtitle">Premium</h3>
              <p class="pricing-list-text">Brief price description</p>
              <ul class="pricing-list">
                <li class="pricing-list-item">
                  <p class="pricing-item-text first-item">10</p>
                </li>
                
                <li class="pricing-list-item">
                  <p class="pricing-item-text second-item">$</p>
                <p class="pricing-item-text third-item">Per / month</p>
                   </li>
                </ul>
             
              <ul class="price-list">
                        <li class="price-items">
                          <p class="price-item-text">10+ Operators</p>
                        </li>
                          <li class="price-items">
                            <p class="price-item-text">Notifications</p>
                          </li>
                          <li class="price-items">
                            <p class="price-item-text">Landing Pages</p>
                          </li>
                          </ul>
                          <button type="button" class="pricing-btn" data-plan="Premium">Order Now</button>
              </div>
          </div>
        </div>
</div>
    </section>