<section class="promo">
          <div class="container">
            <div class="promo-content">
        
              <div class="promo-title-btn">
                <h2 class="promo-title">Join 100 Compannies who boost their business with Product</h2>
                <button type="button" class="promo-btn">Get This</button>
              </div>
              <picture>
        <!-- Десктоп от 1150px -->
        <source
          srcset="
            ./img/promo-desktop-1x.webp 1x,
            ./img/promo-desktop-2x.webp 2x
          "
          media="(min-width: 1150px)"
          type="image/webp"
        />
        <!-- Планшет от 768px -->
        <source
          srcset="
            ./img/promo-tablet-1x.webp 1x,
            ./img/promo-tablet-2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <!-- Мобилка до 767px -->
        <source
          srcset="
            ./img/promo-mobile-1x.webp 1x,
            ./img/promo-mobile-2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <img
          class="promo-img"
          src="./img/promo-desktop-2x.webp"
          alt="promo"
           width="350"
              loading="lazy"
        />
      </picture>
               </div>
              </div>
      </div>
    </section>