<section class="question">
  <div class="container">
    <h2 class="question-title">Frequently asked questions</h2>
    <p class="question-text">
      Something is not clear? You need help? Check our FAQ section
    </p>

    <ul class="question-list">
      <li class="question-list-item">
        <div class="question-header">
          <svg class="question-icon">
            <use href="./img/icons.svg#icon-plus_circle"></use>
          </svg>
          <h3 class="question-subtitle">What are my payment options?</h3>
        </div>
      </li>

      <li class="question-list-item">
        <div class="question-header">
          <svg class="question-icon">
            <use href="./img/icons.svg#icon-minus_circle"></use>
          </svg>
          <h3 class="question-subtitle">
            How can I invite collaborator to platform?
          </h3>
        </div>
        <p class="question-answer">
          After creating your account you will have an oppurtunity to create
          your first project that will be associated withthe collaborators
          e-mail. An invitation will be sent automatically. Then, invited user
          will have to confirm his account by e-mail and finish userd
          onboarding.
        </p>
      </li>

      <li class="question-list-item">
        <div class="question-header">
          <svg class="question-icon">
            <use href="./img/icons.svg#icon-plus_circle"></use>
          </svg>
          <h3 class="question-subtitle">Can I upgrade my plan?</h3>
        </div>
      </li>

      <li class="question-list-item">
        <div class="question-header">
          <svg class="question-icon">
            <use href="./img/icons.svg#icon-plus_circle"></use>
          </svg>
          <h3 class="question-subtitle">Can I cancel my plan at anytime?</h3>
        </div>
      </li>
    </ul>
  </div>
</section>
