<section class="staff">
  <div class="container">
    <h2 class="staff-title">Quick & Easy Process</h2>
    <p class="staff-text">
      Do you require some help for your project: Conception workshop,
      prototyping, marketing strategy, landing page, Ux/UI?
    </p>
    <ul class="staff-list">
      <li class="staff-list-item first-item">
        <p class="staff-list-text">I can take care of your pitch</p>
        <img src="./img/avatar1.webp" class="staff-img" alt="avatar1" />
      </li>
      <li class="staff-list-item second-item">
        <p class="staff-list-text">I can prototype your app</p>
        <img src="./img/avatar2.webp" class="staff-img" alt="avatar2" />
      </li>
      <li class="staff-list-item third-item">
        <p class="staff-list-text">I can take care of your pitch</p>
        <img src="./img/avatar3.webp" class="staff-img" alt="avatar3" />
      </li>
      <li class="staff-list-item fourth-item">
        <p class="staff-list-text">I can help marketing strategy</p>
        <img src="./img/avatar4.webp" class="staff-img" alt="avatar4" />
      </li>
    </ul>
    <button type="button" class="staff-btn" data-modal-open="contact">
      Contact our expert
    </button>
  </div>
</section>
