<section class="support">
  <div class="container">
    <div class="support-image">
      <picture>
        <!-- Десктоп от 1150px -->
        <source
          srcset="
            ./img/support-desktop-1x.webp 1x,
            ./img/support-desktop-2x.webp 2x
          "
          media="(min-width: 1150px)"
          type="image/webp"
        />
        <!-- Планшет от 768px -->
        <source
          srcset="
            ./img/support-tablet-1x.webp 1x,
            ./img/support-tablet-2x.webp 2x
          "
          media="(min-width: 768px)"
          type="image/webp"
        />
        <!-- Мобилка до 767px -->
        <source
          srcset="
            ./img/support-mobile-1x.webp 1x,
            ./img/support-mobile-2x.webp 2x
          "
          media="(max-width: 767px)"
          type="image/webp"
        />
        <img
          class="support-img"
          src="./img/support-desktop-2x.webp"
          alt="support"
          width="540"
          loading="lazy"
        />
      </picture>
    </div>
    <div class="support-content">
      <h3 class="support-subtitle">Easier decision making for</h3>
      <h2 class="support-title">Customer Support</h2>
      <p class="support-text">
        The Myspace page defines the individual, his or her characteristics,
        traits, personal choices and the overall personality of the person.
      </p>
      <ul class="support-list">
        <li class="support-list-item">
          <span class="icon-box">
            <svg
              class="support-icons"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              aria-hidden="true"
            >
              <use href="./img/icons.svg#icon-Path"></use>
            </svg>
          </span>
          <p class="support-text">
            Never worry about overpaying for your energy again.
          </p>
        </li>
        <li class="support-list-item">
          <span class="icon-box">
            <svg
              class="support-icons"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              aria-hidden="true"
            >
              <use href="./img/icons.svg#icon-Path"></use>
            </svg>
          </span>
          <p class="support-text">
            We will only switch you to energy companies that we trust and will
            treat you right
          </p>
        </li>
        <li class="support-list-item">
          <span class="icon-box">
            <svg
              class="support-icons"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              aria-hidden="true"
            >
              <use href="./img/icons.svg#icon-Path"></use>
            </svg>
          </span>
          <p class="support-text">
            We track the markets daily and know where the savings are.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
