* {
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.mobile-menu,
.mobile-menu * {
  box-sizing: border-box;
  max-width: 100%;
}

.input-btn {
  width: 100%;
  max-width: 500px;
}
