/* ======================== COLLABORATION SECTION ======================== */

.collaboration {
  padding: 40px 0;
  background: #f8fdfc;
}

.collaboration .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.collaboration-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.collaboration-img {
  width: 100%;
  max-width: 350px;
  height: auto;
}

.collaboration-content {
  max-width: 350px;
  text-align: center;
}

.collaboration-subtitle {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 8px;
  color: #22343d;
}

.collaboration-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
  color: #22343d;
}

.collaboration-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  margin-bottom: 16px;
  color: #22343d;
}

.collaboration-list {
  list-style: none;
  padding: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ======================== TABLET (min-width: 768px) ======================== */
@media (min-width: 768px) {
  .collaboration .container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .collaboration-img {
    max-width: 610px;
  }

  .collaboration-content {
    max-width: 700px;
    text-align: center;
  }
}

/* ======================== DESKTOP (min-width: 1150px) ======================== */
@media (min-width: 1150px) {
  .collaboration {
    padding: 60px 0;
  }

  .collaboration .container {
    flex-direction: row-reverse;
    align-items: center;
    gap: 84px;
  }

  .collaboration-content {
    max-width: 486px;
    text-align: left;
  }

  .collaboration-img {
    max-width: 540px;
    width: auto;
    height: auto;
    justify-content: flex-end;
  }

  .collaboration-subtitle,
  .collaboration-title,
  .collaboration-text {
    text-align: left;
  }

  .collaboration-list {
    flex-direction: column;
    align-items: flex-start;
  }
}
