/*===============================FEATURE=========================*/
/*пробно для темной темы*/
.feature {
  padding: 18px 0;
  background: #f8fdfc;
}
.container {
  padding: 0 30px;
}
.feature-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 330px;
  margin: 0 auto;
}
.feature-list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 32px;
}
.feature-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-icon-wrap {
  width: 54px;
  height: 54px;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.feature-icon-wrap i {
  font-size: 20px;
  color: #fff; /* сама иконка белая */
}
.feature-icon-wrap.green {
  background: #02897a;
} /* стрелка */
.feature-icon-wrap.blue {
  background: #4d8dff;
} /* цепь */
.feature-icon-wrap.purple {
  background: #740a76;
} /* сердце */
.feature-icon-wrap.red {
  background: #f03e3d;
} /* часы */
.feature-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
  text-align: center;
}
.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  text-align: center;
  max-width: 226px;
}
.feature-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  transition-property: box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
  display: block;
  margin: 50px auto;
  text-align: center;
  transition: opacity 0.3s ease;
}
/*============================================FEATURE TABLET===================================*/
@media (min-width: 768px) and (max-width: 1149px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
  }
  .feature-list-item {
    width: calc((100% - 50px) / 2);
    align-items: center; /* центрируем */
    text-align: center;
    min-height: 212px; /* фиксируем минимальную высоту */
    justify-content: flex-start;
  }
  .feature-title {
    margin: 0 auto;
  }
}

/*============================================FEATURE DESKTOP====================================*/
@media (min-width: 1150px) {
  .feature {
    padding: 24px 0;
  }
  .feature .container {
    padding: 0 20px;
  }
  .feature-title {
    max-width: 539px;
  }
  .feature-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-direction: row;
    margin: 56px 0;
    align-items: center;
  }
  .feature-list-item {
    width: calc((100% - 50px) / 2);
    display: flex;
    flex-direction: column;
    align-items: center; /* центрируем */
    text-align: center;
    min-height: 212px; /* фиксируем минимальную высоту */
    justify-content: flex-start;
  }
  .feature-text {
    max-width: 255px;
    text-align: start;
  }
  .feature-btn:hover,
  .feature-btn:focus,
  .feature-btn:active {
    transform: scale(1.1);
    background-color: #02a087;
    color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
}
