/* ======================== FEATURE ======================== */

.feature {
  padding: 18px 0;
  background: #f8fdfc;
}

.feature .container {
  padding: 0 30px;
}

.feature-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 330px;
  margin: 0 auto;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.feature-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 50px 0 32px;
}

.feature-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feature-icon-wrap {
  width: 54px;
  height: 54px;
  border-radius: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.feature-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.feature-icon-wrap.green {
  background: #02897a;
}

.feature-icon-wrap.blue {
  background: #4d8dff;
}

.feature-icon-wrap.purple {
  background: #740a76;
}

.feature-icon-wrap.red {
  background: #f03e3d;
}

.feature-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}

.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  max-width: 226px;
}

.feature-btn {
  display: block;
  margin: 50px auto;
  width: 175px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  border-radius: 4px;
  border: none;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

/* ======================== ОТ 768px (планшет и выше) ======================== */
@media screen and (min-width: 768px) {
  .feature-list {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 0;
  }

  .feature-list-item {
    flex: 1;
    min-height: 212px;
    max-width: 220px;
    justify-content: flex-start;
  }

  .feature-text {
    text-align: center;
  }
}

/* ======================== DESKTOP (min-width: 1150px) ======================== */
@media screen and (min-width: 1150px) {
  .feature {
    padding: 24px 0;
  }

  .feature .container {
    padding: 0 20px;
  }

  .feature-title {
    max-width: 539px;
  }

  .feature-list {
    gap: 25px;
    margin: 56px 0;
  }

  .feature-text {
    max-width: 255px;
    text-align: start;
  }

  .feature-btn:hover,
  .feature-btn:focus {
    transform: scale(1.1);
    background-color: #02a087;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
}
