/*==================================================HERO MOBILE===================================*/
.hero {
  padding: 30px 0;
  background: #f8fdfc;
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.66667;
  text-align: center;
  color: #22343d;
  max-width: 350px;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #22343d;
  max-width: 350px;
}
.hero-btn {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 30px;
  align-items: center;
}
.hero-btn-getstart {
  background: #02897a;
  border-radius: 4px;
  width: 178px;
  height: 53px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.hero-btn-watch {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* расстояние между треугольником и текстом */
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
/*.hero-btn-watch::before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 12px solid #02897a; /* цвет треугольника */
/*border-top: 7px solid transparent; /* верхний край */
/*border-bottom: 7px solid transparent; /* нижний край */
/*border-radius: 2px;
  fill: #02887a;}*/

.hero-image {
  max-width: 100%;
  height: auto;
  display: flex;
}

.hero-img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 767px) {
  .hero .container {
    display: flex;
    flex-direction: column-reverse; /* переворачиваем порядок */
    align-items: center;
    text-align: center; /* чтобы заголовок и кнопки по центру */
    gap: 16px;
  }
  .hero-title {
    margin-bottom: 20px;
  }
  .hero-text {
    margin-bottom: 12px;
  }
  .hero-btn {
    display: flex;
    flex-direction: column; /* кнопки в колонку */
    gap: 30px;
  }

  .hero-img {
    display: block;
    height: auto;
    max-width: 100%;
    width: 350px; /* по умолчанию для мобилки */
  }
}
/*============================================HERO TABLET===================================*/
@media (min-width: 768px) and (max-width: 1149px) {
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Картинка первой и на всю ширину */
  .hero-image {
    margin-bottom: 24px;
  }

  .hero-image img {
    width: 100%; /* пусть тянется */
    max-width: 100%; /* не вылезает */
    height: auto; /* пропорции сохраняются */
    display: block;
    margin: 0 auto; /* чтобы точно по центру */
  }

  /* Контент ниже */
  .hero-content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .hero-text {
    margin-bottom: 12px;
    max-width: 700px;
  }

  /* Кнопки рядом */
  .hero-btn {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; /* чтобы не ломалось на маленьких планшетах */
  }
}
/*============================================HERO DESKTOP===================================*/
@media (min-width: 1150px) {
  .hero {
    padding: 40px 0;
  }
  .hero .container {
    display: flex;
    align-items: center; /* выравниваем по вертикали */
    justify-content: space-between; /* отталкиваем контент и картинку */
    margin: 0 auto; /* по центру */
    max-width: 1150px; /* ограничение */
  }
  .hero-content {
    flex: 1; /* занимает доступное место слева */
    max-width: 452px;
  }
  .hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
  }
  .hero-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
  }
  .hero-btn {
    display: flex;
    justify-content: left;
    gap: 30px;
    align-items: center;
  }
  .hero-btn-getstart {
    background: #02897a;
    border-radius: 4px;
    width: 178px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
  }
  .hero-btn-watch {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px; /* расстояние между треугольником и текстом */
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .triangle-btn {
    color: #02897a;
  }

  .triangle-btn:hover {
    color: red;
  }

  .hero-btn-getstart:hover,
  .hero-btn-getstart:focus,
  .hero-btn-getstart:active {
    transform: scale(1.1);
    background-color: #02a087;
    color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
  .hero-btn-watch:hover,
  .hero-btn-watch:focus,
  .hero-btn-watch:active {
    transform: scale(1.1);
    background-color: #02a107;
    color: #ffffff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
  .hero-image {
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 25px; /* отступ слева от контента */
  }

  .hero-image img {
    height: auto;
    display: block;
    max-width: 610px;
    width: 100%;
  }
}
