/* ======================== MANAGEMENT SECTION ======================== */


.management {
  padding: 40px 0;
  background: #f8fdfc;
}

.management .container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 40px;
}

.management-content {
  max-width: 350px;
  text-align: center;
}

.management-subtitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.management-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}

.management-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.management-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.management-list-item .management-subtitle {
  margin-bottom: 8px;
}

.management-image {
  display: flex;
  justify-content: center;
}

.management-img {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
}

/* ======================== TABLET (min-width: 768px) ======================== */

@media (min-width: 768px) {
  .management .container {
    gap: 50px;
  }

  .management-content {
    max-width: 700px;
    text-align: center;
  }

  .management-img {
    max-width: 610px;
  }
}

/* ======================== DESKTOP (min-width: 1150px) ======================== */

@media (min-width: 1150px) {
  .management {
    padding: 60px 0;
  }

  .management .container {
    flex-direction: row;
    align-items: center;
    gap: 84px;
  }

  .management-content {
    max-width: 486px;
    text-align: left;
  }

  .management-subtitle,
  .management-title,
  .management-text {
    text-align: left;
  }

  .management-list {
    margin-top: 30px;
  }

  .management-image {
    justify-content: flex-end;
  }

  .management-img {
    max-width: 540px;
  }
}
