/* ======================== STAFF SECTION ======================== */

.staff {
  padding: 60px 0;
  background: #f8fdfc;
}

.staff-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 8px;
}

.staff-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;

  max-width: 350px;
  margin: 0 auto;
}

.staff-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 40px;
}

.staff-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.first-item,
.third-item {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.second-item,
.fourth-item {
  flex-direction: row;
  justify-content: flex-end;
}

.staff-list-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;

  width: 190px;
  min-width: 190px;
  height: 50px;

  background: #fff;
  box-shadow: 2px 2px 10px rgba(23, 58, 86, 0.15);
  border-radius: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.staff-img {
  flex-shrink: 0;
}

.staff-btn {
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background: #02897a;

  font-weight: 700;
  font-size: 16px;
  color: #fff;

  display: block;
  margin: 50px auto 100px;

  transition: 300ms ease;
}

/* ======================== TABLET (min-width: 768px) ======================== */
@media screen and (min-width: 768px) {
  .staff-text {
    max-width: 542px;
  }

  .staff-list {
    gap: 24px;
  }

  .staff-list-item {
    gap: 16px;
  }

  .staff-list-text {
    width: 240px;
  }
}

/* ======================== DESKTOP (min-width: 1150px) ======================== */
@media screen and (min-width: 1150px) {
  .staff-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .staff-list-item {
    gap: 20px;
    width: calc(50% - 15px);
  }

  .first-item,
  .fourth-item {
    flex-direction: row-reverse;
  }

  .second-item,
  .third-item {
    flex-direction: row;
  }

  .staff-list-text {
    width: 281px;
  }

  .staff-btn:hover,
  .staff-btn:focus {
    transform: scale(1.05);
    background-color: #02a087;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
}
