/* ======================== STAFF SECTION ======================== */
.staff {
  padding: 20px 0;
  margin: 120px 0;
  background: #f8fdfc;
}
.container {
  padding: 0 30px;
}
.staff-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 8px;
}
.staff-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  max-width: 350px;
  margin: 0 auto;
}
.staff-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: stretch;
  margin-top: 40px;
}
.staff-list-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.staff-list-text {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
  width: 190px;
  height: 50px;
  background: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.staff-list-item.first-item,
.staff-list-item.third-item {
  justify-content: flex-end;
  margin-left: 0;
}

.staff-list-item.second-item,
.staff-list-item.fourth-item {
  justify-content: flex-end;
  margin-right: 0;
}

.first-item,
.third-item {
  flex-direction: row-reverse;
}

.second-item,
.fourth-item {
  flex-direction: row;
}

.staff-list-text {
  width: 190px;
  min-width: 190px;
}
.staff-btn {
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition-property: color, box-shadow, background-color, transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0;
  display: block;
  margin: 50px auto 100px auto;
  text-align: center;
}
.staff-img {
  flex-shrink: 0;
}
/* ======================== TABLET (768px – 1149px) ======================== */
@media (min-width: 768px) and (max-width: 1149px) {
}

/* ======================== DESKTOP (≥ 1150px) ======================== */
@media (min-width: 1150px) {
  .staff {
    padding: 20px 0;
    margin: 0;
  }
  .staff-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
  }
  .staff-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: #22343d;
    max-width: 542px;
    margin: 0 auto;
  }
  .staff-list {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
  }
  .staff-list-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .staff-list-text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    width: 281px;
    height: 50px;
    background: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .first-item,
  .fourth-item {
    flex-direction: row-reverse;
  }

  .second-item,
  .third-item {
    flex-direction: row;
  }
  .second-item,
  .fourth-item {
    display: flex;
    justify-content: flex-end;
  }

  .second-item,
  .third-item .staff-list-text {
    margin-right: 0;
  }
  .staff-btn {
    border-radius: 4px;
    width: 216px;
    height: 53px;
    background: #02897a;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    transition-property: color, box-shadow, background-color, transform;
    transition-duration: 300ms;
    transition-timing-function: ease;
    transition-delay: 0;
    display: block;
    margin: 50px auto 100px auto;
    text-align: center;
  }
  .staff-btn:hover,
  .staff-btn:focus,
  .staff-btn:active {
    transform: scale(1.1);
    background-color: #02a087;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  }
}
