/**
  |============================
  | CSS Partials Import Order
  |============================
*/

/* 1. Базовые и ресеты */
@import url('./base.css');
@import url('./container.css');

/* 2. Общие компоненты (используются на всех страницах) */
@import url('./header.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
@import url('./theme.css');

/* 3. Модалки (они часто переопределяют стили) */
@import url('./modal-sign-in.css');
@import url('./modal-sign-up.css');
@import url('./modal-video.css');
@import url('./modal-contact-expert.css');

/* 4. Секции главной страницы */
@import url('./hero.css');
@import url('./feature.css');
@import url('./management.css');
@import url('./support.css');
@import url('./collaboration.css');
@import url('./staff.css');
@import url('./news.css');
@import url('./pricing.css');
@import url('./feedback.css');
@import url('./promo.css');

/* 5. Секции страницы Customer  */
@import url('./clients.css');
@import url('./choice.css');
@import url('./work.css');
@import url('./joinus.css');

/* 6. Секции страницы Resources */
@import url('./communications.css');
@import url('./stories.css');
@import url('./form.css');

/* 6. Секции страницы Pricing */
@import url('./enterprise.css');
@import url('./effects.css');
@import url('./question.css');
