/* ======================== SUPPORT SECTION ======================== */

.support {
  padding: 40px 0;
  background: #f8fdfc;
}

.support .container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.support-image {
  display: flex;
  justify-content: center;
}

.support-img {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: block;
}

.support-content {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.support-subtitle {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  text-align: center;
}

.support-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  text-align: center;
}

.support-text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.support-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.support-list-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.icon-box {
  width: 35px;
  height: 35px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 35px;
}

.support-icons {
  width: 12px;
  height: 12px;
  fill: #fff;
}

.support-list-item:nth-child(1) .icon-box {
  background: #f90;
}

.support-list-item:nth-child(2) .icon-box {
  background: #f03e3d;
}

.support-list-item:nth-child(3) .icon-box {
  background: #4d8dff;
}

/* ======================== TABLET (min-width: 768px) ======================== */

@media (min-width: 768px) {
  .support-img {
    max-width: 610px;
  }

  .support-content {
    max-width: 700px;
  }
}

/* ======================== DESKTOP (min-width: 1150px) ======================== */

@media (min-width: 1150px) {
  .support {
    padding: 60px 0;
  }

  .support .container {
    flex-direction: row;
    align-items: center;
    gap: 84px;
  }

  .support-image {
    justify-content: flex-start;
  }

  .support-img {
    max-width: 540px;
  }

  .support-content {
    max-width: 450px;
  }

  .support-subtitle,
  .support-title,
  .support-text {
    text-align: left;
  }
}
